<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Upload Excel File</title>
</head>
<body>
    <h1>Upload Excel File</h1>
    <form action="/upload" method="post" enctype="multipart/form-data">
        <input type="file" name="file">
        <br>
        <br>
        "File type:"
        <br>
        <label for="choice1">Live Optics:</label>
        <input type="radio" id="choice1" name="file type" value="live-optics" checked><br>
        
        <label for="choice2">RV Tools:</label>
        <input type="radio" id="choice2" name="file type" value="rv-tools"><br>

        <input type="submit" value="Upload">
    </form>
</body>
</html>
